* {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

.responsive-object {
  max-width: 100%;
  height: auto; }

.responsive-svg {
  width: 100%;
  height: auto; }

.header-info {
  min-height: 100vh; }

.fa-github {
  margin-right: 5px; }

.profile-img {
  background: red; }

.jumbotron {
  background: #A7FFEB;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #A7FFEB, #1DE9B6);
  min-height: 100vh; }

.jarallax {
  background-image: url("../assets/29745758812_38faec28e5_k.jpg"); }
