
* { 
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; 
}

%readable-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  border: 0;
  padding: 0;
  margin: -1px;
}

%ir {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%
}




.fa {
  margin-right: 5px;
}

.jumbotron {
  background: none;
  border-radius: 0;
}
body {
	margin: 0 !important;
  padding: 0 !important;
}
.element {
  padding-top:55px;
  
}

.header-info-bg {
  background: rgba($color: #000000, $alpha: 0.8);
}


.main-project-bg {
  border-bottom: 1px solid #E0E0E0;
}

.main-career-bg {
  background: #868e96;
}

.contact-bg {
  background: #343a40;
}