.footer-contact {
  min-height: 100vh;
}

.footer-bg {
  background: #eee;
  margin-bottom: 0;
}

.footer-content-wrapper {
  // text-align: center;
}

.contact-title {
  text-align: center;
  font-family: 'Baloo', cursive;
  font-size: 4rem;
  margin-bottom: 20px; 
  @media screen and (min-width: 0px) and (max-width: 768px){
    font-size: 3rem;
  }
}

.media {
  margin-bottom: 30px;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 3px;
}

.btn-contact {
  margin-right: 5px;
}

.comment-title {
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: #555;
}

.form-control, .input-group-btn {
  margin-top: 10px;
}

table, thead, tr, th, tbody {
  border-radius: 3px;
  overflow: hidden;
}

.table-head {
  font-weight: 500;
}

tbody {
  overflow: hidden;
}

input, .btn-comment {
  font-weight: 300;
}