.footer-contact {
  min-height: 100vh;
}

.footer-bg {
  margin-bottom: 0;
}

.contact-title {
  text-align: center;
  font-family: 'Baloo', cursive;
  color: #fff;
  font-size: 4rem;
  margin-bottom: 50px; 
  @media screen and (min-width: 0px) and (max-width: 768px){
    font-size: 3rem;
    padding-top: 70px;
  }
}

.media {
  margin-bottom: 30px;
  color: #fff;
}

.media-heading {
  margin-bottom: 15px;
}

.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 3px;
  @media screen and (min-width: 0px) and (max-width: 768px){
    display: none;
  }
}

.btn-contact {
  margin-right: 5px;
}

.comment-title {
  font-size: 1rem;
  margin-top: 50px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 500;
}

dt, dd {
  margin-bottom: 7px;
}

code {
  padding: 2px;
}

.contact-link {
  &:hover {
    color: #868e96;
  }
}

.form-control, .input-group-btn {
  margin-top: 10px;
}

table, thead, tr, th, tbody {
  border-radius: 3px;
  overflow: hidden;
}

.table-head {
  font-weight: 500;
}

tbody {
  overflow: hidden;
}

.close {
  font-size: 1rem;
  color: #555;
  margin-top: 5px;
}


input, .btn-comment {
  font-weight: 300;
}
