.header-info {
  min-height: 100vh;
  // background: red url('../assets/29745758812_38faec28e5_k.jpg');
}

.header-title {
  font-size: 5rem;
  color: #fff;
  font-family: 'Baloo', cursive;
  @media screen and (min-width: 0px) and (max-width: 768px){
    font-size: 3rem;
  }
}

.header-content-wrapper {
  text-align: center;
  // padding: 0 50px;
}

.header-content-text {
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight: 200;
  color: #fff;
  font-size: 1.5rem;
  @media screen and (min-width: 0px) and (max-width: 768px){
    font-size: 1.2rem;
  }
}

.btn-header {
  color: #fff;
}

.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-img {
  width: 200px;
  height: 200px;
}

.header-bg {
  // background: rgba($color: #000000, $alpha: 0.7);
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin: 0;
}

.bg-wrapper {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  margin-top: 55px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.bg-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

// .bg-img {
//   display: none;
// }

// @media screen and (min-width: 0px) and (max-width: 768px) {
//   .video {
//     display: none;
//   }

//   .bg-img {
//     object-fit: cover;
//     width: 100%;
//     height: 100%;
//     background-size: cover;
//     background-position: center;
//   }
// }

.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
