.header-info {
  min-height: 100vh;
  // background: red url('../assets/29745758812_38faec28e5_k.jpg');
}

.header-content-wrapper {
  text-align: center;
  // padding: 0 50px;
}

.header-content-text {
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight: 200;
}

.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-img {
  width: 200px;
  height: 200px;
}

.header-bg {
  padding-top: 70px;
  background: #A7FFEB; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #A7FFEB, #1DE9B6);
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin: 0;
  // margin-top: 50px;
}