.career-bg {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  .career-title {
    margin-bottom: 60px;
  }
}

.career-title {
  font-family: 'Baloo', cursive;
  font-size: 4rem;
  @media screen and (min-width: 0px) and (max-width: 768px){
    font-size: 3rem;
    padding-top: 70px;
  }
}

.card-more {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.fa-plus-square {
  font-size: 2rem;
  color: #868e96;
}


.card-title {
  font-size: 1.2rem;
  // font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.card-text {
  font-weight: 200;
}

.btn-career {
  margin-top: 20px;
}


.card-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

