.career-bg {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  .career-title {
    margin-bottom: 60px;
  }
}

.career-list-wrapper {
  padding: 0 50px;
}

.career-list {
  margin-bottom: 20px;
  display: block;
  width: 100%;
  padding: 100px 0;
  &:hover {
    background: #000;
    opacity: 1;
  }
}

.dk-bg {
  background: #fff url('../assets/dks-techin-1.png') no-repeat;
  opacity: 0.5;
  background-size: 100%;
}

.ize-bg {
  background: #fff url('../assets/ize-izeshop-1.png') no-repeat;
  opacity: 0.5;
  background-size: 100%;
}