
.project-bg {
  // background: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin: 0;
}

.title-wrapper, .btn-wrapper {
  text-align: center;
}

.project-title {
  font-family: 'Baloo', cursive;
  font-size: 4rem;
  @media screen and (min-width: 0px) and (max-width: 768px){
    font-size: 3rem;
  }
  // font-weight: 300;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-text {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 15px;
}

.info {
  margin-top: 30px;
}

.info-list {
  margin-bottom: 25px; 
}

.content-title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.content-text {
  font-weight: 200;
}

.btn-info-link {
  margin-right: 10px; 
}

@media screen and (min-width: 0px) and (max-width: 533px) {
  .btn-info-link {
    width: 38px;
    overflow: hidden;
    .fa {
      margin-right: 20px;
    }
  }

}
