.navbar-brand {
  font-family: 'Baloo', cursive;
  font-size: 1.5rem;
}

.navbar-nav {
  // background: green;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  @media screen and (min-width: 0px) and (max-width: 768px){
    justify-content: space-around;
  }

}

.nav-item {
  // background: yellow;
  margin-left: 15px;
}
.nav-link {
  font-family: 'Baloo', cursive;
  font-weight: 300;
  font-size: 1.1rem;
}

.navbar-active-wrapper {
  position: relative;
}

.navbar-m {
  display: none;
}
.navbar-m-active {
  position: absolute;
  top: 20px;
  right: -20px;
  background: #f8f9fa;
  width: 100px;
  border-radius: 5px;
  line-height: 2.2;
  z-index: 1;
  text-align: center;
  border: 1px solid #dfe0e1;
  padding: 10px 10px;
  .navbar-active-item{
    cursor: pointer;
    font-weight: 300;
    &:hover {
      font-weight: 500;
    }
  }
}

.navbar-brand, .nav-link {
  cursor: pointer;
}

// @media screen and (min-width: 991px) {
//   .navbar-active-wrapper {
//     display: none;
//   }
// }